<h1>Welcome to game 1</h1>

<p>Choose a number 0-100</p>


<input type="text" name="number" id="number"/>

<input type="submit" value="guess number" onclick="guessNumber(<%= @user.guess %>);" />

<div id='result'></div>

<div id='count'></div>


