<div id='wrapper'>

<h1>Game 2</h1>

<div id='num1'></div>
<div> + </div>
<div id='num2'></div>
<div> = </div>
</br>
<input type="text" name="answer" id="answer"/>
</br>
<input type="submit" value="add number" onclick="adding();" />
</br>
<input type="submit" id="brestart" value="restart" onclick="restart();" />

<div id='result'></div>

<div id='countdown'></div>

<%= link_to "Game 3", { :action => 'game3' }, :remote => true, :id => 'game_3' %>

</div>


<script type="text/javascript">
$(document).ready(function() {
  game2begin();
});
</script>
