<div id='wrapper'>
<h1>Welcome to game 1</h1>

<p>Choose a number 0-100</p>


<input type="text" name="number" id="number"/>

<input type="submit" value="guess number" onclick="guessNumber(<%= @user.guess %>);" />

<div id='result'></div>

<div id='count'></div>
</br>
<%= link_to 'retry', @user, :id => 'retry' %>

<%= link_to "Game 2", { :action => 'game2' }, :remote => true, :id => 'game_2' %>

<div id='retry'></div>

</div>



<script type="text/javascript">
$(document).ready(function() {
	game1begin();
});
	
</script>


