<style type="text/css">
h1{
	text-align: center;
}
</style>

<h1>Tim's game application</h1>

<%= link_to "Home", { :action => "index" } %>


<div id='wrapper'>

<div id='new'>
<%= link_to "Create New User", { :action => 'new' }, :remote => true %>
</div>

</br>

<p>Users playing game:</p>
<% @user.each do |user| %>
	<%= link_to user.name, user %>
<% end %>
</div>



